@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.dark svg text {
    fill: white;
}

.dark .burguer span {
    background-color: white !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Elimina todos los colores de autocompletar en Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: gray !important;
    /* Cambia el color del texto aquí */
    transition: background-color 5000s ease-in-out 0s;
}

/* Elimina todos los colores de autocompletar en Firefox */
input:-moz-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    -moz-text-fill-color: gray inherit !important;
}

.no-scroll {
    overflow: hidden;
}

.navbar.scrolled {
    transition: background-color 0.3s, backdrop-filter 0.3s;
    color: white;
    --tw-backdrop-blur: blur(12px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

/* TypeWriter Effect */
.blinking-cursor {
    font-weight: 100;
    font-size: 24px;
    color: #333;
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: black;
    }
}

/* Estilos para la barra de desplazamiento */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #bbbbbb;

}


::-webkit-scrollbar-thumb {
    background: #999999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.9);

}

.text-gradient {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* components/SoundBars css */
.bars {
    height: 20px;
    position: relative;
    /* Cambiado a relativo */
}

.bar {
    background: #666;
    bottom: 1px;
    height: 2px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms ease-in-out infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 20px;
    }
}